@model Süper_Lig_Forma_İstatistikleri.Entities.Entities.Jersey

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Jersey</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shorts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shorts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Socks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Socks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsKeeper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsKeeper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.TeamName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
