@model IEnumerable<Süper_Lig_Forma_İstatistikleri.Entities.Entities.Jersey>

@{
    ViewData["Title"] = "Index";

}


<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="basic-datatable" class="table dt-responsive nowrap">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shorts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Socks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsKeeper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shorts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Socks)
            </td>
            <td>
                    <img width="50" height="50" src="@item.ImgPath" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsKeeper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<!-- jQuery  -->
